body {
    margin: 0;
    background: linear-gradient(180deg, #fefeff 0%, #ffffff 100%);
    /* background-image: url(image.png);*/
    background-repeat:no-repeat ;
    background-attachment:fixed; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


.Frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    /* background: linear-gradient(180deg, #070669 0%, #120eff 100%); */ 
}


.Line1 {
    position: absolute;
    top: 143px;
    width: 100%;
    border-top: 3px solid #000000;
    box-shadow : 20px 20px 100px black;
}


.C, .W {
    position: absolute;
    font-style: italic;
    font-size: 72px;
    line-height: 87px;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.C {
    font-weight: 300;
    left: 96px;
    top: 55px;
}
.W {
    font-weight: 800;
    left: 62px;
    top: 29px;
    
}


.Rectangle1, .Rectangle3 ,.Rectangle5{
    width: 90%;
    max-width: 90vw;
    position: relative;
    color: rgb(255, 255, 255);
}
.Rectangle1 {
    margin-top: 180px;
}
.Rectangle3 {
    margin-top: 40px;
}
.Rectangle5{
    margin-top: 40px;
}

.jj {
    font-weight: 600;
    font-size: 34px;
    position: absolute;
    top: 17px;
    left: 9px;
    color: #000000;
}
.sm{
    position: absolute;
    top: 36px;
    right: 33px;
}
.sm a{
 color: rgb(0, 0, 0);
}
.sm a:hover{
    color: aqua;
}
.nav-bar{
    position: absolute;
    top: 85px;
    right: 85px;
}
.nav-bar a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
.nav-bar a:hover{
    color: aqua;
}

.nav-bar ul{
    list-style-type: none;
    
}
.nav-bar ul li {
    display: inline;
    margin-right: 40px;
}

.Rectangle4 {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* -webkit-overflow-scrolling: touch; */
    scroll-behavior: smooth;
    gap: 50px;
padding: 77px 8px 0;}
.Rectangle4::-webkit-scrollbar {
    height: 4px;
}
.Rectangle4::-webkit-scrollbar-thumb {
    background: rgba(232, 228, 228, 0.3);
    border-radius: 4px;
}
.ll a{
    height: 101%;
    width: 101%;
}

.ll {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 250px;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 8px;
}

.ll img {
    width: 101%;
    height: 101%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.ll img:hover {
    transform: scale(1.1);
    filter: brightness(60%);
}


.op {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    z-index: 2;

}
